{% extends "basefront.html.twig" %}

{% block body %}


<p>Je vais vous présenter les villes que j'ai visitées lors de mes voyages.</p>

<hr>
<div style="display:flex; gap:30px;">
    <!-- TEXTE -->
    <div style="width:50%;">
        <p><strong>Date :</strong> {{ visite.datecreation|date('d/m/Y') }}</p>
            <h2 style="color:#2a7ae2;">
                {{ visite.ville }}
             </h2>

        <p>{{ visite.pays }}</p>

        <p style="color:green; font-size:20px;">
            {{ visite.note }}/20
        </p>

        <p>
            t° entre {{ visite.tempmin }}° et {{ visite.tempmax }}°
        </p>

        <h3>Environnements :</h3>
        <ul>
            {% for env in visite.environnements %}
                <li>{{ env.nom }}</li>
            {% else %}
                <li>Aucun environnement</li>
            {% endfor %}
        </ul>

        <h3>Mon avis :</h3>
        <p>{{ visite.avis }}</p>

    </div>

    <!-- IMAGE -->
    <div style="width:50%;">
        {% if visite.imageName is not empty %}
            <img src="{{ asset('images/visites' ~ visite.imageName) }}"
                 alt="Voyage"
                 style="width:100%; border-radius:5px;"
                 onerror="this.onerror=null;this.src='{{ asset('images/placeholder.jpg') }}';">
        {% else %}
            <img src="{{ asset('images/placeholder.jpg') }}"
                 alt="Aucune image disponible"
                 style="width:100%; border-radius:5px;">
        {% endif %}
    </div>



</div>

<br>
<a href="{{ path('voyages') }}">← Retour</a>

{% endblock %}
